@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*GENERALES*/
*{
    font-family: 'Raleway', sans-serif;
}
.btn{
    text-transform: uppercase;
    font-weight: 500;
}
/*NAVBAR*/

nav {
color: white;
background-color: #30343F;
height: 144px;
}
.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.cart-icon{
    width: 32px;
}

/*BANNER*/
.banner{

    height: 388px;
    background-image: url(../multimedia/funkos-banner.webp);
    background-size: cover;
    background-position-y: 90%;
    
    padding: 0;
}
.banner-div{
    height: 100%;
    width: 100%;
    --bs-gutter-x:0;
    backdrop-filter: blur(3px) brightness(50%);
}
.banner h2{
    color: white;
    font-size: 38px;
    font-weight: 700;
}
.btn-banner{
    background-color: white;
    border-radius: 25px;
}